.post-gallery {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}

.post-gallery-row { display: table-row; }

.post-gallery .post-gallery-img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.post-gallery .post-gallery-img img {
  width: 100%;
  height: auto;
  border: none;
  margin: 0 auto;
}

.fancybox-close, .fancybox-close:hover { border: none; }
